[2020-04-21 17:09] haz opened #1 "Describe the purpose"
There are a variety of ways to use this project, and they should be clearly articulated.

[2020-04-21 17:11] haz opened #2 "Create Vagrant Wrapper"
Should be minimal, reflect the docker one, and should be done with the attached files in mind (issues with a Vagrant image used in Basel for teaching).

* [Vagrantfile.txt](https://github.com/AI-Planning/planning-utils/files/4511478/Vagrantfile.txt)
* [Vagrantfile.issues.txt](https://github.com/AI-Planning/planning-utils/files/4511479/Vagrantfile.issues.txt)

[2020-04-21 17:11] haz opened #3 "Create Docker Wrapper"
Should be minimal and reflect the vagrant one.

[2020-04-28 15:50] haz opened #4 "Uninstall/upgrade functionality"
`planutils --remove planner`

[2020-04-28 18:35] haz commented on #3
Should be set.

[2020-04-28 18:35] #3 closed

[2020-05-08 17:38] #2 closed

[2020-05-14 14:46] FlorianPommerening commented on #4
The options to install, uninstall, upgrade, and run components might all work differently for different sources (singularity hub, singularity recipe, from-source-installation, binary download, etc.). Maybe it would be easier to switch from json configuration files to bash scripts.

What I have in mind is a setup like this:
Every component is a directory containing scripts `install`, `run`, `upgrad

[2020-05-15 01:44] haz commented on #4
Why not both?

I entirely understand that some things will have a complicated installation, best left to a script, but for some few common patterns we could have just a simple config. I'm thinking singularity images, binary files, and pip packages in particular. Each would have a standard behaviour for install/uninstall/upgrade, which mostly involves just getting the right file.

If you notice in

[2020-05-15 09:33] FlorianPommerening commented on #4
The advantage I see in having only the scripts is that it would make the main script easier to maintain and also have all the logic related to one component in one place while all logic related to managing the components would be somewhere else. With a mix of both approaches (like `method="script"`) we would not have that separation.

The downside is the possible duplication in the scripts. We cou

[2020-05-15 13:28] haz commented on #4
I think this is spot on the money. Who was it that recommended the SMT one? I think that was similarly a package manager of sorts. Can't seem to find it again...

[2020-05-15 14:38] FlorianPommerening commented on #4
Guillem mentions pySMT and that looks indeed very related. The focus of the project is a common python interface to all solvers (which would also be cool, but I think is currently out-of-scope). Installing pySMT also installs a tool `pysmt-install` to install new SMT solvers. Looking at the source code, it seems like they have individual python scripts to install each solver with common parts fact

[2020-05-15 18:56] haz commented on #4
Oy...some things of note:
- Those scripts are heavy-hitting. Not sure we need to be that detailed if we aren't defining a common interface across the planners, right?
- They don't consider upgrade or uninstall. I think we could readily handle the former, but the latter might get dicey (e.g., remove all your dependencies? What if something else needs them?)

[2020-05-18 09:46] FlorianPommerening commented on #4
Would it make sense to keep track of what is currently installed and which packages where installed manually? Then if one package is removed, compute the graph of all installed packages with edges for dependencies and prune everything that was not installed manually and is not required anymore.

[2020-05-18 16:49] Maumagnaguagno commented on #4
Maybe just asking the user to run autoremove or equivalent command after uninstall is executed is enough, or always executing this command automatically and letting the user choose [yes] or [no] in the removal dialog.

[2020-05-18 17:48] haz commented on #4
Well there is the simple `proxy` setup, which would be obvious for keeping track of and removing. If I request `lama`, then it's a proxy for `FD`. Uninstalling `FD` means also removing `lama` (but not vice versa).

If the script for installing is arbitrary, then how do we keep track of dependencies through that?

[2020-05-18 20:50] FlorianPommerening commented on #4
I'd argue that the package meta data (the json file) is responsible for defining dependencies and that the package manager is responsible for installing the necessary dependencies. That would mean the script for installing a package assumes its dependencies are already met.

I also like the idea of automatically going through the dependency tree of an uninstalled package and asking the user for ea

[2020-05-19 02:39] haz commented on #4
Now we're back to the finer details of privileged access. Should root-required dependencies be allowed in the json configuration?

[2020-05-19 09:55] FlorianPommerening commented on #4
I'm not sure I understand the issue. Are you talking about a package A requiring root access to install and a package B depending on it? If so, here is how I imagine this working:

- The meta data of B lists a dependency on A.
- Installing B resolves the dependency by first installing A.
- The installation of A either stops when it doesn't have root privileges ("please re-run as root") or [acquire

[2020-05-19 14:24] haz commented on #4
So then dependencies in the metadata will roughly be like...

[code]

Already we have a `~/.planutils/` directory that we can place the dependency nest.

[2020-05-19 23:13] FlorianPommerening commented on #4
I was thinking more like this (assuming for the sake of example, that Fast Downward needs to be build from a Singularity image which would require root access):

[code]

Alternatively with python scripts instead of the bash scripts, or maybe with common code like building a singularity image factored out to some shared (Python/bash) scripts.

[2020-05-19 23:17] FlorianPommerening commented on #4
To be clear, the main difference I see to your suggestion is that it would no be necessary to specify the type of the package or whether it requires root access in the metadata as part of the list of dependencies. Each package should know how to install/uninstall itself assuming all dependencies are already installed.

[2020-05-21 03:35] haz opened #7 "Server environment"

[2020-05-21 03:37] haz opened #9 "Developer environment"

[2020-05-21 03:39] haz opened #10 "Evaluation environment"
Environment to setup things for running evaluations (benchmarks, lab, etc).

[2020-05-22 03:39] haz commented on #4
Aye, makes sense. Why build the singularity image instead of fetching?

[2020-05-25 08:01] FlorianPommerening commented on #4
I just did this to have an example where one component that doesn't need root installation depends on another that does. It makes no sense to really install Fast Downward this way.

[2020-05-26 03:25] haz commented on #4
Slowly getting there: https://github.com/AI-Planning/planutils/pull/11

[2020-05-27 02:24] haz opened #12 "Allow for custom PLANUTILS_PREFIX"
Would require some way for the package to store the prefix location so the python scripts can find it.

[2020-05-27 15:05] gabrielplicks opened #13 "Scripts for ENHSP"
Hello Christian! Following-up our discussion on the other repository, I tried creating the scripts for an ENHSP package based on your `TEMPLATE` scripts. I am not sure if the commands I am executing respect the working directory in which you will be executing the script from (please review that if you can). Also, I am not sure how you will set the variables for setting the domain and problem in th

[2020-05-30 03:57] haz opened #14 "pyperplan package"
Docker recipe that can be adapted:

[code]

[2020-06-04 01:55] haz opened #15 "Fold in upgrade methods"
The planutils upgrade should be called whenever a new version is upgraded from pip and the like.

[2020-06-04 13:45] haz opened #16 "Package up something with preferences and constraints"
Not sure what the best planner would be, but it's a requested feature for the online solver so we should include one.

[2020-06-05 03:51] haz opened #17 "Advanced upgrade functionality"
Currently it just deletes/installs the package again. We probably want to have packages provide `upgrade` scripts, and keep versions in the manifest.

[2020-06-06 03:54] haz opened #18 "Install things in a smart order"
Both upgrade and multi-package installation might be broken if the order comes in wrong. Instead, it should be re-ordered to follow a topological sort. Also need to consider what to do with cyclic dependencies (if we choose to allow them).

[2020-06-06 04:24] haz opened #19 "Improve size measurement"
- [ ] Instead of just running `du -sh .` in the package directory (which only works if installing the package stores everything locally), get a measure of how much space was used pre/post installation.
- [ ] When installing a set of packages, sum the estimated size increase rather than just including them on a per-package basis.

[2020-06-13 03:21] #4 closed

[2020-06-14 05:57] Maumagnaguagno commented on #13
Note that there is a warning in the README of ENHSP and many versions are available, more information [here](https://sites.google.com/view/enhsp/). The new ENHSP-20 does not link to an available source yet. Some users may prefer a specific version based on the website description:

[2020-06-14 15:44] haz commented on #13
This likely means that there should be multiple recipes. E.g., `ehsp` and `ehsp19` or whatever. Will reach out to Enrico to see what he'd suggest.

[2020-06-15 07:33] enricos83 commented on #13
Hola! Thanks for taking care of this!
So:
1. Yes I think it is better to have multiple recipes (I hope this will end soon when I am done transporting all functionalities in enhsp20). In particular enhsp18 enhsp19 enhsp20. I know this isn't great and it can be confusing, but there are really major changes and haven't the resources to really test the whole retro-compatibility myself alone. From the

[2020-06-15 14:09] haz commented on #13
1. Perfect. But I think it's still useful to have a default. So 4 command-line options will be available: `enhsp18`, `enhsp19`, `enhsp20`, and `enhsp`. The main question for you, is what do you want the last one (`enhsp`) to point to? We'll just redirect it to one of the other 3.

2. Unbound certainly makes the most sense to me. If you think there's a common one that warrants its own single comman

[2020-06-16 10:35] enricos83 commented on #13
1. enhsp19. Question. Can we then change it? Like can I do it in the future?
2. All good then!

[2020-06-16 16:30] haz commented on #13
1. Absolutely! It'll just be a simple change to the `enhsp` run script and dependencies.
2. 👍
3. @gabrielplicks Can you take a stab at these 4 recipes with the latest version of the template (things changed slightly). Also, it's always better if you can just do it with binaries instead of building: https://sites.google.com/view/enhsp/
4. @enricos83 Looks like you only have binaries for `enhsp19` a

[2020-06-17 09:05] enricos83 commented on #13
1, 2, 3, . Great
4. I'd like to, but I don't have space to host it long-term. The links you find on the webpage are google drive files, which are tricky to wrapper and download automatically (there maybe some workaround but this may not work for long term). That is why I put enhsp-20 code as well in a branch in gitlab. Maybe I can host some binary on gitlab/github as well? Do you know how this can

[2020-06-17 12:13] Maumagnaguagno commented on #13
You can link binaries in [GitLab releases](https://docs.gitlab.com/ee/user/project/releases/) and include binaries in [Github releases](https://help.github.com/en/github/administering-a-repository/managing-releases-in-a-repository).

[2020-06-17 12:24] haz commented on #13
Aye, if it's on GitHub/GitLab, then releases are definitely the way to go!

[2020-06-18 13:39] haz commented on #13
@enricos83 Can you let us know when you have the binaries located somewhere convenient? Smaller the payload, the better ;). Once you post here, I'll confirm if they work inside of the planutils docker. If not, we may want to try and embed them in a singularity image like the other planners are doing.

@gabrielplicks If you wanted to start a PR on this, that'd be great. GitHub keeps track of who co

[2020-06-18 14:42] gabrielplicks commented on #13
@haz Sure, I will start a PR this weekend hopefully :) I could not work on this lately cause I've been quite busy.

[2020-06-18 19:10] enricos83 commented on #13
Yes, I am looking into gitlab releases. Will let you know ASAP.

[2020-06-19 13:30] enricos83 commented on #13
I have made the three releases on Gitlab, one for each enhsp following your suggestion.
@Maumagnaguagno what do you mean by linking binary in github releases? you mean like having  other repositories in github that host the binaries?

[2020-06-19 14:01] haz commented on #13
My read of @Maumagnaguagno 's suggestion was an "or" rather than an "and". GitLab releases should do, as long as we have the ability to `curl` or `wget` the binary.

[2020-06-19 15:04] Maumagnaguagno commented on #13
Yes, that was an "or".
I was not sure which one you would choose based on your question.

The [ENSHP releases](https://gitlab.com/enricos83/ENHSP-Public/-/releases) include source code assets, but differently from the links in https://sites.google.com/view/enhsp/ I see no way of getting a compressed folder with a compiled enshp*.jar .
Not sure if there is a hidden page within GitLab with the binar

[2020-06-19 15:36] enricos83 commented on #13
No, I haven't put any binary because I have no way of hosting it. I understood your message as "you can use binary releases to do that" but I have likely misinterpreted what you were saying (realized that after trying hard this way with no success). So...you are basically suggesting that I could provide a link, maybe the one on the website? The problem with that link though, is that it is a google

[2020-06-19 17:37] haz commented on #13
Well there's a few things tied up here:

1. We need to decide if java is worth considering as a native dependency -vs- wrapping enhsp in a singularity image.
2. If you host the .jar or .sif (singularity image) somewhere, we'd want to be able to get at it with just a command-line tool (so no google drive interface to find the download). With .sif, this is easily done with singularity hub, but with

[2020-06-20 09:46] enricos83 commented on #13
@haz Regarding point 2 I am not sure that is the case. Or say, I don't fully understand what they are proposing. Maybe the way is to upload a file following this https://docs.gitlab.com/ee/api/projects.html#upload-a-file . I will need to have a closer look at it.

[2020-06-20 20:42] enricos83 commented on #13
For the record: I tried to make gitlab yield artifacts, like binaries, directly into releases. It seems that one can do so by linking the result of the CI pipeline which should be provided as an evidence. (https://docs.gitlab.com/ee/user/project/releases/#include-report-artifacts-as-release-evidence-ultimate-only.) However, for some reasons, I have not succeeded, run out of time (spent like 2 hour

[2020-06-20 21:42] gabrielplicks commented on #13
@haz I created a PR with the scripts I made for downloading/compiling/installing ENHSP. I know they will have to be modified later to get the hosted binaries. Anyway, I didn't find a way to link the PR to this issue (maybe I'm not allowed).

[2020-06-22 10:17] FlorianPommerening commented on #13
My suggestion would be to wrap the planner and the Java VM in a Singularity container. I don't have much experience with this but as far as I'm aware Java can be tricky with running older source code on newer VMs or the other way around, so if you get want to include a different planner that expects a different VM version, this might cause problems and require two different JVMs to be installed.

[2020-06-22 10:38] enricos83 commented on #13
As far as I know, backward compatibility issues in JAVA are practical non-existent. But if you have some example (also only one :)) when this has happened, well we have to do as you suggest. Actually this may be the safest solution anyway.

Now, say we go Option A. Do we need to transfer the whole repo in github, or just have the recipe file(s) there (just to be sure)?

[2020-06-22 10:46] FlorianPommerening commented on #13
It is sufficient to just host the recipe files there if the recipe knows where to get the source code from. This is also what we do for Fast Downward: you can find the container files at https://github.com/aibasel/downward but it might not be the best example, because we generate both docker and singularity containers, so our singularity recipe is just "import the docker container".

[2020-06-22 13:56] gabrielplicks commented on #13
@FlorianPommerening @enricos83 Regarding JAVA backward compatibility, I`ve previously had problems trying to compile ENHSP using newer versions of openjdk (version 11 as far as I remember). I am sure openjdk-8 works for compiling ENHSP.

[2020-06-22 14:04] haz commented on #13
There's also the option to host the singularity recipe in `planutils` or another `ai-planning` repository dedicated to planner compilation recipes. Just wouldn't be shipped with the pip package, and assumed that the builds would be hosted on singularity hub. That shifts "ownership" to some extent to the `ai-planning` org. Even if just perceptual, it may not be something you (@enricos83 ) or other

[2020-06-22 14:37] enricos83 commented on #13
@haz I think I'll follow Fast downward way. Make a recipe on github for the various planners.
@gabrielplicks  Well that is a great spot. Never saw that until now you tell me. This may have to do with my configurations obscuring for some strange reasons that problem. More precisely, there is a weird urinet something exception for compiling enhsp-18 with versions above openjdk-8.

I am organizing th

[2020-06-22 17:41] enricos83 commented on #13
*Small update* I have added the recipes for singularity images in a new repository: https://github.com/enricos83/enhsp-containers
This took me a (big) while. I hope this is what we were expecting.
I have tested the resulting images, and after some tweaking the recipes produce a file of ~150MB. I don't see how this can be made smaller considering that I have to wrap the JVM together with a whole OS

[2020-06-22 18:04] FlorianPommerening commented on #13
I wrote something on how to get a small image a while ago, but it looks like you are already doing most of it: https://github.com/AI-Planning/planutils/wiki/Building-Singularity-Images#keeping-the-image-files-small

It's possible that the JRE is so large that it takes the bulk of the size. You can find out if that is the case by running a shell in the container (`singularity shell enhsp.sif`, I th

[2020-06-22 18:42] enricos83 commented on #13
Thanks @FlorianPommerening ! I was not aware of the wiki.
I think the only way to minimize the size of the image further would be to strip away some unnecessary JRE functionality.  Anyway, this can be done later.

Now, to get my images searchable on Singularity hub, what should I do exactly?

[2020-06-22 18:47] FlorianPommerening commented on #13
I have not done this step myself yet, so I cannot give good advice there. I think you have to log in at singularity hub with your github account to link the account. After that it should only require a little configuration to say which containers should be built and based on what triggers. There is a step-by-step guide here: https://singularityhub.github.io/singularityhub-docs/docs/getting-started

[2020-06-22 19:10] haz commented on #13
Just wanted to pipe up and say carry on ;).

This is all what I suspected we might end up doing. 150Mb doesn't seem so crazy given that we need the JVM in there anyways. I never knew about the singularity tagging -- this'll make it quite clean on the `planutils` front.

[2020-06-22 22:57] enricos83 commented on #13
The images are up and running, and ready to be downloaded on singularity hub. Just look for enhsp collection (https://singularity-hub.org/search) and then you will find the way to get your hands on the three versions, enhsp:2018, enhsp:2019, enhsp:2020.

From now on, the idea is to use planutils to wrap (one more time again) the planner with another recipe file. Right? I may have some idea of more

[2020-06-23 01:55] haz commented on #13
Awesome!

@gabrielplicks : want to update the PR to just do singularity pulls? There should be 4 packages, each corresponding to the command-line use (3 for each year, and one that is just `enhsp` and depends on (/redirects to) the 2019 one). The [lama](https://github.com/AI-Planning/planutils/tree/master/planutils/packages/downward) example is a good one to mirror.

[2020-06-25 13:11] haz commented on #13
I know it's bad FOSS practice, but I just want to wrap this issue up quick: I've accepted the ENHSP PR, and will quickly revise things to the suggestion above. This way, we at least get @gabrielplicks on the contributor list ;). @enricos83 , we'll need to get you to update something later so you're there too!

Such a hack, I know...

[2020-06-25 14:28] haz commented on #13
Ok, we're all set: https://github.com/AI-Planning/planutils/pull/26

Thanks all!

[2020-06-25 14:28] #13 closed

[2020-06-25 19:04] gabrielplicks commented on #13
Thanks @haz! Great work! Sorry I was not active, I'm running behind schedule with my dissertation.

[2020-06-25 19:05] haz commented on #13
A valid excuse for sure...happy writing!

[2020-07-16 17:29] haz opened #27 "Create a version log"
Perhaps tied to the issues closed, like the [API repo](https://github.com/ai-planning/api-tools) does.

[2020-07-16 18:10] haz opened #28 "Upgrade misses new packages"
The upgrade script just upgrades the installed planners. When there is a new version of planutils installed (e.g., using `pip install --upgrade planutils`), then a `planutils setup` is required to create the missing bash scripts.

Fix should be for the upgrade script to create those missing bash script files.

[2020-07-23 01:43] haz opened #29 "Allow for forced installation"
In order to include planutils commands in scripts, it would be useful to have an optional argument to just auto-respond as "yes".

[2020-07-23 02:52] #29 closed

[2020-08-05 18:10] haz opened #31 "Add VAL package"
Can use this as the latest binary to extract: https://dev.azure.com/schlumberger/4e6bcb11-cd68-40fe-98a2-e3777bfec0a6/_apis/build/builds/48/artifacts?artifactName=linux64&api-version=5.1&%24format=zip

[2020-08-06 03:02] #31 closed

[2021-01-04 09:11] ccvca opened #33 "check-installed does not consider multi-users systems"
The current `check-installed` implementation does only verify if a planner has been installed by the current user:
https://github.com/AI-Planning/planutils/blob/ef05ad69276b687b22a29768c6628640d92d28ab/planutils/package_installation.py#L31-L32

As the planners are installed globally in `/usr/local/lib/python3.7/dist-packages/planutils-0.2.6-py3.7.egg/planutils/packages`, a planner will always been

[2021-03-16 15:34] haz opened #34 "Create help interface"
Something like this...

`planutils help <tool>`

...should spit out a help message defined in the package manifest.

[2021-05-06 13:53] haz opened #35 "Migrate to Anaconda"
Idea would be to lean on a pre-existing package manager to deal with the web of dependencies, versioning, etc.

(from @jendrikseipp )

Install `planutils` as a thin wrapper to Anaconda:

[code]

Install conda, create and activate new environment into which packages will be installed, add conda package repository with conda packages for planners:

[code]

Ask user whether to install lama conda pack

[2021-07-06 02:25] haz opened #37 "Shift to planning-specific singularity hub"
Since singularity seems to be the leading virtualization technique for high-performance planning, and since the original hub has been discontinued, it's probably worth our while to have a community-led effort to host planners and planning-related software somewhere. Ala https://singularityhub.github.io/sregistry/

@FlorianPommerening : This something you guys would be interested in maintaining fro

[2021-07-07 22:01] ctpelok77 opened #38 "HTNtranslate package"
Singularity recipe can be found here:
https://github.com/ronwalf/HTN-Translation/blob/hpddl-stable/deploy/htntranslate-hpddl.def

[2021-07-08 19:09] #38 closed

[2021-07-12 11:31] FlorianPommerening commented on #37
I didn't know that the hub no longer exists. The existing links still seem to work (`singularity pull --name downward.sif shub://aibasel/downward` for example) but going to the site directly redirects to datalad.org. Do you know more about the status of this?
So is the option to set up our own "hub" server and host images there? I think it would be worthwhile to set something like this up for the

[2021-07-12 13:00] haz commented on #37
I learned about it from @ctpelok77 . Old images remain, but new seem to be done and gone.

Yep, precisely. It makes the most sense run by the Basel folk, and as a heads up, you may be able to secure funding from ICAPS (org) for the service. Reach out if you'd like to see the semi-regular application I put in for Planning.Domains server fees (generally pretty small, so an easy ask).

[2021-07-27 01:57] ctpelok77 commented on #37
There seems to be another option: https://cloud.sylabs.io/library

[2021-08-08 15:44] jendrikseipp commented on #35
Another option would be to use https://conan.io (specifically designed for C++ but can handle other use-cases, Python syntax). And I think the easiest approach would be to make all planners standalone, i.e., let them have no dependencies on other planners at all.

[2021-08-08 15:46] jendrikseipp commented on #14
Another option is to use `pip install pyperplan`.

[2021-08-08 17:13] haz commented on #14
Far cleaner! But will we now have a conflict on the command-line between the planutils package and pip-installed version?

[2021-08-09 09:37] jendrikseipp commented on #14
Yes, I guess there would be a conflict. I think the cleanest solution to issues like this is to switch from invocations like "lama" to "planutils run lama". This would also avoid having to alter the .bashrc file.

By the way, maybe it's best to install pyperplan into a virtual environment. `pipx install pyperplan` does that auto automatically (notice the x at the end of pipx).

[2021-08-09 11:40] jendrikseipp commented on #37
Another option is the [GitHub container registry](https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-container-registry). I just tried it for Scorpion and it works nicely (with Singularity 3.8, note that the pull fails with Singularity 3.5). There's now a workflow that automatically builds a new Singularity container when new commits are pushed to the main

[2021-08-09 11:46] jendrikseipp opened #43 "add installation instructions"
It would be great if the README had some brief installation instructions. Is it possible to use `pipx install planutils`? In which ways is the bash environment altered?

[2021-08-09 12:22] FlorianPommerening commented on #37
For completeness, we also discussed the option of using DockerHub on Slack (Singularity can pull from DockerHub with `singularity pull docker://aibasel/downward`). The time to get the image is slightly higher (but not too bad) than pulling from a singularity registry but the speed of the container is the same as a singularity image, i.e., it does not have the overhead we saw with docker containers

[2021-08-09 13:25] haz commented on #37
Thanks @FlorianPommerening ! I was going to ask you to post just such an update.

I'm partial to the DockerHub solution, for many of the reasons Florian points out. That said -- planutils requires singularity, and the install recipe can be whatever you want (i.e., pulling from a variety of sources). The documentation around it is largely what we have to influence things.

I think it would be very

[2021-08-09 14:29] jendrikseipp commented on #37
There's a basic example for running a Singularity-based experiment in the Lab docs: https://lab.readthedocs.io/en/stable/singularity.html This could be a starting point.

[2021-08-09 19:45] haz commented on #14
I dislike having to always prefix things with `planutils run ...`, but am growing increasingly concerned at dumping the entire package list on the `PATH`...how about `planutils run ...` in addition to `planutils activate`? Then the docker can just come with planutils pre-activated.

Never seen `pipx` before...nice!

[2021-08-09 20:22] jendrikseipp commented on #14
I guess you mean `planutils setup`? Yes, that could be a solution.

To clarify, I think it's fine to have `lama` available on the PATH after running `planutils install lama`, I just think it's too much magic to allow users to call `lama` to install and run it. I think it's easier to explain `planutils install lama` to users. This is also how pip, pipx, and apt work. To avoid messing with the PATH,

[2021-08-10 14:38] haz commented on #14
Well I meant for `planutils activate` to take you into the virtual planutils environment. At which point, it behaves like it currently does (so running lama without it being installed will prompt). Essentially just muck with the PATH variable on demand.

So I'd still need to muck w/ the `.bashrc` if we want `planutils install lama` to expose it in general. Could have two bin directories -- one wit

[2021-08-10 18:26] haz commented on #43
`.bashrc` is modified to augment the `PATH` and `PLANUTILS_PREFIX` paths:
https://github.com/AI-Planning/planutils/blob/772ce54c754f7f3a9f57bd36090950167e074606/planutils/__init__.py#L30

Not sure if it works w/ pipx, but I would assume not :P

[2021-08-13 19:20] jendrikseipp commented on #14
I like it :+1:

[2021-08-20 16:37] haz commented on #14
So two followups:

1) Assuming we must `planutils activate` to get unfettered access to the planners, what does `pipx` further provide?
2) What would be the steps to equip `planutils` to be `pipx`-ready?

[2021-08-20 21:09] jendrikseipp commented on #14
1. pipx is simply the recommended way of installing Python **applications**, whereas pip is the recommended way of installing Python **packages**.
2. Actually, there are no extra steps needed. I just tried installing planutils with pip and it works:

[code]
Now `planutils` is on the PATH (because pipx adds ~/.local/bin to the PATH).

[2021-10-05 12:05] roveri-marco opened #45 "Insert optic as a possible backend"
It would be nice to integrate and made available the optic temporal planner in the planutils framework.

I've finished setting up singularity for optic.

You can find all here: https://github.com/roveri-marco/optic/tree/singularity-build-and-release
waiting to merge in the master branch of the repository. The singularity sif file is created as well with github workflows
and can be downloaded direc

[2021-10-05 12:20] roveri-marco opened #46 "delfi run problem conflicting local python setup"
While running delfi I bumed in this problem:

[code]

It seems that it tries to use my local version of  numpy instead of using the one in the local internal to the singularity/docker image. TO have it running I had to unset the PYTHONPATH environment variable. May be one can specify to then run in a fresh environment by passing -e flag to the run singularity command i.e.  `singularity run -e  $(d

[2021-10-05 12:28] roveri-marco commented on #37
I'm working on putting optic in singularity, and I succeeded. The singularity image is also automatically created and it can be downloaded. You can find this in the branch https://github.com/roveri-marco/optic/tree/singularity-build-and-release
I'll merge all in the main branch soon. This is a possible approach to address this issue. One can simply create a simple github  repo with the workflow th

[2021-10-05 13:39] ctpelok77 commented on #46
So the issue is not with Delfi, but with how a singularity image is called, correct?
Is that the same for all other packages?

[2021-10-05 13:54] haz commented on #45
Are you able to push now? Another option is to fork the repo, and then open a PR.

[2021-10-05 13:57] roveri-marco commented on #46
yes fom what I see yes. Indeed, unsetting my PYTHONHOME env var the planner works. Indeed, singularity inherits some (not clear which one) of the env variables of the host shell.

[2021-10-05 14:08] roveri-marco commented on #45
Not yet able.  I do not see it yet in my repositories. The account is roveri-maco associated to marco.roveri@gmail.com
If so does not work then I'll create a fork and then start a PR.

[2021-10-05 14:48] roveri-marco commented on #45
Now it works. I found the invitation in the spam!

[2021-10-05 15:19] FlorianPommerening commented on #46
Well, I think it's what @roveri-marco said: the singularity process uses PYTHONPATH or PYTHONHOME from the host system. The singularity call is not sandboxed (I think this is intentional so that the planner can access the input files without us having to mount the directory with the PDDL files explicitly). This means that the directories mentioned in the PYTHONPATH actually are accessible and can

[2021-10-05 15:27] haz commented on #46
Wild.

Completely agree -- singularity calls should be `-e`'d by default.

@roveri-marco : Any chance you could make the small modification across the board as part of your PR? I.e., just add the `-e` option to the singularity run calls. To my knowledge, there isn't a single one that is assuming local environment variables.

[2021-10-06 06:32] roveri-marco commented on #46
@haz Sure I can add it the the optic PR.

[2021-10-26 04:25] tomitrescak opened #48 "Numeric planners"
Hello, does any of these planners do numeric planning? I checked downward and related and they do not.

[2021-11-06 16:43] jendrikseipp commented on #43
Maybe this is useful for others: to install Singularity on Ubuntu 20.04, one can use the Debian package for Singularity:

    wget http://ftp.se.debian.org/debian/pool/main/s/singularity-container/singularity-container_3.5.2+ds1-1_amd64.deb -O singularity.deb
    sudo dpkg -i singularity.deb

[2021-11-06 17:28] haz commented on #43
Nice! This the latest version of singularity that we need to run the images?

[2021-11-06 17:32] jendrikseipp commented on #43
I had no trouble running planners with Singularity 3.5. Thanks to Álvaro and Florian, all IPC 2018 planners run under SIngularity 3.5 (https://ipc2018-classical.bitbucket.io/).

[2021-11-07 23:09] tomitrescak commented on #43
Just update on my situation, the problem was missing Singularity install, the planner now run well.

[2021-11-08 08:36] roveri-marco commented on #43
I'm able to run all  also with 3.8.0-rc.1+134-g946c9fd5f

[2021-11-22 16:21] haz commented on #43
This is brilliant news! Means it's finally time to dust off and promote the thing (was waiting for Singularity version to not pose an issue).

Will address this issue and others in the coming weeks as my course-load drops. Stay tuned!

[2021-11-24 19:55] hectorpal opened #50 "Non privileged docker"
That requirement it's blocking my full use of planutils in heavily containerized contexts.

Not all the tools here require that, but it's friction.

It seems the solution would be to maintain both singularity and docker images. Right? I'd pay the price

[2021-11-24 20:03] haz commented on #50
It's required for any of the software that uses singularity. So most :(.

If you have a modern Ubuntu host, then the non-docker version is about to become very much viable. Biggest hurdle to installing planutils natively was having the right version of singularity. That should be good to go now, and planutils is about to get a non-intrusive installation option that doesn't mess with you PATH var i

[2021-11-24 20:09] hectorpal commented on #50
Lovely. Thanks!

[2021-11-26 18:56] guicho271828 commented on #43
The correct answer to the `adding PATH to .bashrc...` is to set up entrypoints and make `pip` handle binaries by itself.
https://setuptools.pypa.io/en/latest/userguide/entry_point.html

[2021-11-26 19:00] haz commented on #43
We already do that for `planutils`: https://github.com/AI-Planning/planutils/blob/master/setup.py#L20

[2021-11-26 19:01] haz commented on #43
Thing is that we'd like to be dynamically installing things as you use the library, which is why it's all placed in a local `~/.planutils` folder. You can see the wrangling happening here: https://github.com/AI-Planning/planutils/blob/master/planutils/__init__.py#L19

[2021-11-26 19:13] guicho271828 commented on #43
I see.

In my opinion, we will have a better user experience if all scripts (e.g., lama, ff, etc) are already set up as entrypoints and each script installs binaries on demand and call the planner. aka idempotency.

Occasionally you may want to update a binary, but the user never has to explicitly install a binary.

[2021-11-26 19:22] guicho271828 commented on #43
In other words, I believe we should utilize an already available python tooling as much as possible. I don't think it is correct to maintain the scripts ourselves. In a sense it is reinventing wheels that `pip` already handles.

[2021-11-26 19:35] guicho271828 commented on #43
I see now that `planutils setup` creates bunch of shell scripts in `.planutils`, and see all scripts are already instantiated there.
I am pretty sure that this mechanism can be replaced with an entrypoint mechanism.

[2021-11-26 19:52] guicho271828 opened #53 "Lacks separation between "force" and "assume yes" option"
See that in `apt-get` and other package managers the semantics of user query and forced install are separated:

* "-y" / yes option --- assume all confirmations as "yes" for batch processing
* "-f" / force option --- force reinstalling the package for whatever reasons (e.g. for fixing a partially broken installation)

Currently, `install` command lacks this separation. It can choose to force the i

[2021-11-26 19:53] haz commented on #43
I think we're leaning away from that. It's very destructive to your cmd-line to have _everything_ added all at once -- especially as the breadth of `planutils` grows. We don't want to reject certain additions just because there are "too many executables already".

It's moving to a model where `planutils` is the only binary installed by default, and you can do `planutils run <planner> ...` out of t

[2021-11-26 19:55] haz commented on #48
@tomitrescak That answer your question? If so, please close this one out, and thanks for your interest!

[2021-11-26 19:55] haz commented on #50
Aye, you bet.

[2021-11-26 19:55] #50 closed

[2021-12-10 14:05] haz opened #57 "Rename main branch"
`master` -> `main`

Break all the things...

[2021-12-10 14:39] haz opened #58 "Avoid flooding the PATH"
Instead of adding to the `~/.bashrc` for getting the path updated, do the following:

- [x] Have a `planutils run {package}` functionality (closed with #49 )
- [x] Have a `planutils activate` that places adds the generic bin folder to the `PATH` variable.

[2021-12-10 14:45] haz commented on #58
@jendrikseipp This largely comes from the discussion we had.

**Key question**: If we install a planner via planutils, should it appear on the PATH if not in the planutils activated environment? I.e., should this work:

[code]

...or should it only work like one of the following:

[code]

[code]

Certainly, you won't be able to just run `lama` if it's uninstalled, unless you are in the `planutils

[2021-12-10 16:27] haz opened #61 ""planutils run" Fails if Package Not Installed"
Example error:

[code]

[2021-12-10 21:57] jendrikseipp commented on #58
I think all 3 versions are fine. In any case, I think when changing the PATH variable it's important to append the planutils dir, not to prepend it. Otherwise, I'll try to call my next planner ls or mkdir ;-) (see here for an interesting discussion about extending PATH: https://github.com/flatpak/flatpak/issues/994)

The first version is like apt-get, pip and pipx. Actually, the code that pipx use

[2021-12-10 22:01] jendrikseipp commented on #58
The only version I find counterintuitive is to allow calling `lama` without having installed it first. This should simply be an error, I think.

[2021-12-10 22:20] jendrikseipp commented on #58
One more thought: I think versions 1 and 3 (which are implemented now) should cater for most users. Personally, I don't think that adding another version is worth the maintenance effort, especially since it's the most cumbersome one to use, in my opinion.

Regarding sandboxing: maybe we could add a "solve" command, allow calling "planutils solve lama mydomain.pddl mytask.pddl", and invoke the Sing

[2021-12-10 23:00] haz commented on #58
Was meant to just be two options ;). I personally have a desire to have some option for exposing all existing executables (and installing where necessary). The new PR addresses this through the `planutils activate`

Option one above doesn't work, though. Would mean having an empty bin on path (and relying on bashrc) which is populated as planners are installed.

[2021-12-10 23:03] haz commented on #58
PR is at https://github.com/AI-Planning/planutils/pull/60

[2021-12-11 09:02] jendrikseipp commented on #58
The code is fine, but for my taste creating environments is overkill and a bit too magical, especially for new users. Personally, I'll stick to "planutils run" which I find the least intrusive and magical :-)

[2021-12-11 16:08] haz commented on #58
Hehe, well the entire thing is full magical when you install planutils now. This at least hides it in an environment.

[2021-12-13 04:18] #14 closed

[2021-12-13 04:35] #58 closed

[2021-12-13 04:40] haz commented on #57
Closed with c2299b66433668e227383fde83d0ee330e3ccfe3

[2021-12-13 04:40] #57 closed

[2021-12-13 04:41] haz commented on #53
Closed with #54

[2021-12-13 04:41] #53 closed

[2021-12-13 04:49] #61 closed

[2021-12-13 05:15] haz commented on #48
I think, given the range of planners we have in there now, this should be handled. @tomitrescak : do let us know if there's one missing that you'd like to see. For the record, this is the current listing:

[code]

[2021-12-13 05:15] #48 closed

[2021-12-20 18:19] haz opened #67 "GitHub Action to Test Packages"
To make sure we don't break something, there should be some recipe to test each and every package.

Perhaps a `test` script in the package folder that prints `ok` or anything else depending.

Idea is that we'd make sure every package has their `test` file run cleanly before merging.

[2022-05-10 18:24] haz opened #71 "Remote mirror"
`planutils remote ...` should operate the same as `planutils run ...`, except call the planner-as-a-service server (only working for those packages that are deployed).

[2022-05-26 00:31] haz opened #75 "Improve the server call alignment"
- [ ] Instead of counting the ' ' split or number of arguments on the server, the remote call from the command line should count the number of arguments specified like `{this}` in the call string.
- [ ] The remote call arguments should match the call string. It currently will not work if two arguments are combined in the package callstring (e.g., `{arg1}-{arg2}`)

[2022-05-26 00:33] #71 closed

[2022-06-03 14:57] hectorpal opened #79 "Request: new package for detecing that singularity can run"
# Context

- Some users might want to use planutils in Docker but with no privileged access
- Right now, only a few packages works, including VAL and pyperplan

# Definition of done

- Installing "singularity" package check if singularity planners can run, reporting the need for privileged access
- Installing planners that use singularity would fail right away if
- Documentation specifies that sin

[2022-06-03 14:59] haz opened #80 "Add `singularity` dependency"
- [ ] Should check to see if it's installed and has the right version/privileges required to run the planners that need it.
- [ ] Warn the user (fail to install) if it's not setup right
- [ ] Planners that use singularity should have this package as a dependency

[2022-06-03 15:00] #80 closed

[2022-06-07 15:20] hectorpal opened #82 "Bug: dual-bfws-ffparser fail in server"
How to reproduce:

1. Build docker: `environments/server/setup.sh`
2. Start in privileged mode: `docker run -p 5555:5555 --privileged -d planutils-server`
3. Try server. For instance, following https://github.com/AI-Planning/planning-as-a-service#example-use

[code]

Returns
[code]

[2022-06-07 16:10] hectorpal commented on #82
It also failed using this Dockerfile:
[code]

[2022-06-07 16:20] haz commented on #82
Aha! Right you are. @nirlipo -- want to prefix the laptkt extensions with `planutils run` to make things work again? Using just `lapkt` will only work if planutils is activated.

[2022-06-11 21:49] hectorpal opened #84 "Macq is not installing"
Fails because
- install needs chmod +x
- python in docker is 3.6

[2022-06-11 21:49] hectorpal commented on #84
I'm on it

[2022-06-17 15:19] #84 closed

[2022-06-17 17:48] hectorpal commented on #79
This might lead to a different issue.

Following the discussion at https://github.com/AI-Planning/planutils/pull/85
What if we had a dependency for "compile" that can only be installed when creating the docker image.
That might ease adding some tools.

Alternative: - recommend people to package binaries outside and provide a base Dockerfile for that.
That's basically the current Docker + compilers

[2022-06-17 17:51] haz commented on #79
Not sure I follow the suggestions...I think this suggestion is more useful now that installing singularity is easier on modern systems. No longer requires Go and rebuilding the entire project.

[2022-06-17 17:54] hectorpal commented on #79
I tried to make it more clear

[2022-06-17 19:47] haz commented on #79
You mean for this issue? I think having singularity is now a very real possibility for average users on modern Ubuntu OS'. So having this as a package makes sense. We wouldn't need to "compile" singularity to get it going anymore.

[2022-06-19 19:14] aindilis opened #86 "Installing smtplan... FATAL: Unable to get library client configuration: remote has no library client"
[code]

[code]

However, going to https://cloud.apptainer.org/auth/tokens times out, as does any other URL from that domain.

[2022-06-19 20:49] haz commented on #86
Maybe something with the singularity host is broken? This was definitely working before

[2022-06-19 21:06] aindilis commented on #86
Yeah, cloud.apptainer.org is down.  Is there another way temporarily to source the files it provides?

[2022-06-20 01:23] haz commented on #86
@jdekarske Any chance you could host the .sif elsewhere? Doesn't seem to pull cleanly anymore.

[2022-06-20 19:04] jdekarske commented on #86
Install worked fine for me on my branch before I pulled from upstream. (ca https://github.com/jdekarske/planutils/commit/cbe16f4105a03fbd750045a7ad14b586281bc6bf). I see the same error reported on a freshly built docker image. Maybe a newer singularity version has changed something? I recall never getting the image _verified_ or whatever they call it.

The image is actually hosted on this domain h

[2022-06-20 19:07] haz commented on #86
Any insight on the Singularity > Apptainer update, @FlorianPommerening ?

Once the dust settles, I do intend on getting some regression test stuff implemented so we'd be warned about this...

[2022-06-20 19:38] jdekarske commented on #86
For reference, I was using Singularity 3.8.1. I wasn't aware of the Singularity EOL. Is there a new registry for images?

@haz can you use github registry and CI for hosting images?

[2022-06-20 19:49] haz commented on #86
@jdekarske No clue, tbh...it's why I reached out to Florian. I know Basel sets things up well for downward. Theirs still works (for now?) and is at a different hub: https://github.com/AI-Planning/planutils/blob/main/planutils/packages/downward/install

[2022-06-20 20:00] FlorianPommerening commented on #86
I have not heard of cloud.apptainer.org so far. For Fast Downward, we used to use Singularity hub but they switched to read-only, so now you cannot add new images. The old ones are still hosted, that is why you still see Fast Downward working. But for the last two releases (counting the one last week) we couldn't upload there anymore. Now we just host the sif on the wiki (https://www.fast-downward

[2022-06-20 20:02] FlorianPommerening commented on #86
The downside is that you do not have a nice link anymore, so
[code]
becomes
[code]

[2022-06-21 02:30] haz opened #87 "Absolute paths failing for singularity planners"
If the domain or problem file has a leading `/`, then it doesn't seem to pass the file in appropriately.

[2022-06-21 17:24] haz commented on #86
Feels like we should have a formal way to host...anything in the GitHub artifact side of things we could host elements? I don't think the link aesthetics plays a role (it's all hidden in the install script), but the link you show is FD-specific.

[2022-06-21 19:24] haz opened #88 "Scrub http in lieu of https"
We don't want unsecure installation of planners.

[2022-06-22 03:45] haz commented on #86
Hrmz...maybe there is new hub functionality: https://apptainer.org/docs/user/main/library_api.html

[2022-06-22 14:22] ctpelok77 commented on #86
Are you saying we can store sif at dockerhub?

On Wed, Jun 22, 2022 at 10:05 AM Michael Katz ***@***.***> wrote:

--
Cheers,
  Michael

[2022-06-22 14:36] maltehelmert commented on #86
I think I figured it out without Florian: apptainer pull downward.sif docker://aibasel/downward:latest

(You can omit "downward.sif" and it will choose the name automatically as downward_latest.sif.)

It definitely does a minute or two of building locally, so it's a tradeoff about whether this should be recommended over downloading a sif or not. But if you do it multiple times, the output is cache

[2022-06-22 14:48] FlorianPommerening commented on #86
Yes, you can pull from `docker://` as Malte said. I think this would be nice solution. The additional build times seem ok for planutils because it is a one-time installation.

[2022-06-22 14:55] haz commented on #86
The amount this simplifies things outweighs the build time for sure! If a nice sif hub comes along, we can start to re-orient the packages that way, but as an interim I think it's perfect to just point dockerhub way.

Thank you all!

Next question, and stemming partially from the discussion on security, why don't we ask packages to include their Dockerfile. Won't be used as part of the interaction

[2022-06-22 16:30] haz commented on #86
Also intersects with the hope to regression test things for the existing suite of tools...

Ok, ok, deal with your own docker files ;). We'll have to put our faith in those bringing the planner/package to the project.

@jdekarske Long story short -- can you (1) get a Dockerfil setup for smtplan; (2) throw it up on the dockerhub; and (3) change the install script to grab it from there?

[2022-06-22 19:08] jdekarske commented on #86
I think I'm with @maltehelmert here. I don't think planutils needs to guarantee that the images are good, but at least have a trail from where they were built. If I were to manually build and push a change to the smtplan image and it breaks things, you'd have to track me down to potentially fix it. Unless someone had the prior image handy, you wouldn't be able to regress to a working version.

I'd

[2022-06-22 23:15] FlorianPommerening commented on #86
I think preventing things breaking with new versions of a docker image is much easier: we just put a version identifier in the planutils recipe (e.g., pull `downward:22.06` instead of `downward:latest`). We have to update the versions from time to time but changing `22.06` to `23.06` is less effort then rebuilding the images and pushing them. Then the docker images can live where ever the planner

[2022-06-23 01:50] haz commented on #86
Aye, I like that idea. And merging PR's can be the gatekeeping to make sure that a pull is versioned. I assume the apptainer access can hit a particularly versioned dockerhub build?

[2022-06-23 07:27] maltehelmert commented on #86
Dockerhub uses tags, like `22.06` and `latest` in Florian's example. These tags can move -- for example, we could upload a new version (for example `22.06.1`) and change the `22.06` tag to refer to that instead in the future. There is no way around that, but I think it's by design that it's possible to push bugfix releases in this way, and I think it's a feature for us rather than a bug. It's up t

[2022-06-27 14:29] bhomaidan1990 opened #89 "Can't reproduce lama domain problem example"
Thanks for the excellent docker image,

I tried to run the lama example `lama domain.pddl problem.pddl`, but I'm getting this error:
[code]
The steps that I have followed to install the docker image:
[code]
Can you please tell me how to solve this issue please? thanks in advance.

[2022-06-27 17:53] FlorianPommerening commented on #89
I rebuilt the docker image with the Dockerfile from the main branch and could pull install lama there without any changes. @bhomaidan1990  could it be a networking issue with your docker container not being able to reach the singularity hub?

@haz: so far they only prohibit new images. The existing ones should still work.

[2022-06-27 19:20] bhomaidan1990 commented on #89
"*could it be a networking issue with your docker container not being able to reach the singularity hub?*"
Maybe, but the lab connection usually is highly stable, however, I tried again now (the same process up from Docker Hub) and I confirm that it is working now. Thanks for "*turning the lights on*" on singularity hub :)

[2022-06-27 19:39] haz commented on #89
Hehe, did you unplug it and plug it back in?

Thanks for giving it a spin, and be sure to reach out for any other bugs that (I'm sure will) come up!

[2022-06-27 19:43] bhomaidan1990 opened #90 "smtplan: remote has no library client"
I'm using the Docker Image from the Docker Hub as mentioned [here](https://github.com/AI-Planning/planutils/issues/89#issue-1285896322), I tried to use the `smtplan` planner and I have got this error:
[code]
This issue didn't appear with `optic` planner for example. can you please help me resolve this issue? thanks in advance.

[2022-06-27 19:47] haz commented on #90
Ya, this is a known issue with where it's hosted. #86 is the place to follow along.

[2022-06-27 19:47] #90 closed

[2022-06-27 22:49] jdekarske commented on #37
In #91 I simply hosted the docker image on GitHub CR and singularity successfully converted to .sif on an image pull command. My workflow in that PR.

[2022-06-27 23:00] jdekarske opened #92 "planutils development container"
While testing, I was confused why my changes weren't reflected by building the default Dockerfile. An additional Dockerfile with a `COPY` instruction rather than a pypi install would be helpful. Arguably, this could be a better default build because you are cutting out the pypi middleman.

Should this go in the "environments" directory?

This is different than #9 because it specifically focuses on

[2022-06-28 13:01] haz commented on #92
Hrmz...an interesting thought. But I think it's intimately tied with the CI/CD that makes changing it not advisable.

https://github.com/AI-Planning/planutils/blob/main/.github/workflows/docker-image.yml

Idea is that upon release, we build+push to pypi, and then build+push to dockerhub. This way, the dockerhub version always has the latest version that you'd find in pypi. I guess we could put the

[2022-06-28 13:59] haz commented on #86
@aindilis : Can you have another go? Things should be working since the last version.

[2022-06-28 14:18] aindilis commented on #86
@haz Yes, it works great - thanks!

[2022-06-28 14:18] haz commented on #86
Thanks all for talking through it! Marking as closed.

[2022-06-28 14:18] #86 closed

[2022-07-04 09:49] aljoshakoecher commented on #86
I stumbled across the same issue and was happy to see how quickly you guys solved it. Unfortunately, I still have the problem with the latest version. I pulled the latest version and set it up as described in the Readme.
When I then try to install smtplan, I get:
[code]

Am I missing something here?

[2022-07-04 15:50] jdekarske commented on #86
Can you confirm that you are updated?
In the container: `pip freeze`
On your host: `docker images | grep planutils`

[2022-07-05 00:26] haz commented on #86
May be an issue with native -vs- docker usage... @aljoshakoecher , as @jdekarske points out, let us know some more details about your setup and we should be able to help you out.

[2022-07-05 07:40] aljoshakoecher commented on #86
The problem was in fact on my side, I was not updated... `pip freeze` returned v0.7.5 for planutils -- which is oviously not the latest version. After running docker with both the `--pull` and `--no-cache` argument, I am now updated and everything is working.
Thank you very much!

[2022-07-05 15:25] victorpaleologue opened #93 "`docker build` fails on Mac M1"
Trying to build the docker image with:
[code]
I get the following error:
[code]
I am working on a Mac M1, hence it works with arm64 instead of amd64.

[2022-07-05 15:27] haz commented on #93
Any chance this could be a firewall issue?

[2022-07-05 15:32] victorpaleologue commented on #93
I doubt it. I have no firewall configuration at least.
The .deb is properly downloaded, but the installation that fails because of the incompatible bytecode.
The error message says this: "dpkg: error processing archive apptainer_1.0.2_amd64.deb (--install):
#6 2.538  package architecture (amd64) does not match system (arm64) ».

[2022-07-05 15:33] haz commented on #93
Seems to be a common / known issue with M1 devices (don't play nice with amd64). @FlorianPommerening -- you had the original recipe for Apptainer. Any chance we could have it revised to reflect the host machine architecture? Looks like amd64 is hardcoded atm.

[2022-07-11 07:31] FlorianPommerening commented on #93
I have no Mac to test this on. If we can somehow detect the architecture within the Dockerfile, we could install another version. The trouble is that they do not offer an ARM release (https://github.com/apptainer/apptainer/releases/tag/v1.0.3). I guess that means, we have to build it from source. This is tricky without access to a test machine.

@victorpaleologue, can you try to install Apptainer

[2022-07-11 13:13] haz commented on #93
Couldn't use this?

https://archlinuxarm.org/packages/aarch64/apptainer

[2022-07-11 14:16] victorpaleologue commented on #93
⬆️ here is my proposal, building on @FlorianPommerening 's idea.
The docker starts, but I did not try running the planner yet.

[2022-07-11 16:30] victorpaleologue commented on #93
With the latest version of my PR https://github.com/AI-Planning/planutils/pull/94, it works.
Let me know what I should do next.

[2022-07-11 19:54] FlorianPommerening commented on #93
This is for arch. Is this compatible with the ubuntu base image we are using? If so, it is probably preferable to an installation from source. Let's move this discussion into #94. I think this issue is fixed no matter how we get apptainer installed, so we can discuss the implementation details in the pull request.

[2022-07-25 12:14] jan-dolejsi opened #95 "using planutils from pip install rather than docker build"
I am trying to _use_ planutils, rather than cloning it and building it first. The package appears to be pushed to https://pypi.org/project/planutils/. How do I use it from there? If I figured it out, I would like to update the `README.md` and then I would automate the setup by the VS Code extension.

Here is what I tried (and failed):

[code]

I am on Ubuntu 20.04 running as WSL on Windows.

[2022-07-25 12:48] haz commented on #95
Very odd...it's meant to put `planutils` right on the path. Running `bash` to get a new shell do it?

[2022-07-25 16:03] jan-dolejsi commented on #95
Yes, refresh helped. I closed the terminal meanwhile, but upon creating a new one, the activate works.

[2022-07-25 16:03] #95 closed

[2022-07-27 10:11] jan-dolejsi opened #96 "Question/enhancement request: ability to run planning in one bash command (without entering the activate mode)"
I am trying to see how we could use planners installed by planutils from within VS Code (besides the planning-as-a-service, which will eventually also solve it). Today, the instructions say make two calls:

[code]

The activation feels natural for the hands on phase, just after planutils installation, when the environment needs to be setup by a series of command-line calls. But beyond that to be a

[2022-07-27 11:53] haz commented on #96
Use `run` for `some-switch` and you should be all set.

[2022-08-01 14:57] victorpaleologue opened #97 "OPTIC not available for arm64"
Using Docker on a Mac M1 (arm64), I try to run OPTIC:
[code]
It fails because the binary package downloaded by planutils is for amd64.

[2022-08-04 03:43] haz commented on #97
Isn't this a copy of #93 ?

[2022-08-04 08:47] victorpaleologue commented on #97
Not to me...
This issue is about one specific package is for amd64, not arm64.
#93 is about the docker image to be buildable on arm64.
I have a PR #94 that can fix #93 and allows me to use some planners, but OPTIC.
The fix for getting OPTIC to work there will definitely be a different one.

[2022-09-09 10:29] #93 closed

[2022-09-29 18:09] neighthan opened #98 "SMTPlan flags not parsed properly"
I installed SMTPlan some time ago, before they recommended using `planutils` for it. It was quite a pain to get it working, so I'm hoping using `planutils` will make it easier to set up on other machines. I cloned `planutils` + build the docker as in the README, and I'm able to do

[code]

to get a plan for the car domain + first problem from the SMTPlan [benchmarks](https://github.com/KCL-Plannin

[2022-09-29 18:17] neighthan commented on #98
I actually hadn't trying planning with my installation, just getting the constraints. It seems planning for this problem is expected to take a long time, if it ever finishes, so it's only printing the constraints then exiting that doesn't work as quickly in `planutils`. Maybe the `-n` flag isn't being passed correctly?

[2022-09-29 18:28] neighthan commented on #98
Ah, this seems to be the case. When I run

[code]

it prints the plan instead of just printing the constraints and not solving.

[2022-09-30 09:33] haz commented on #98
Hrmz...what happens when you put the `-n` first? The run file seems to look fine for passing the arguments in: https://github.com/AI-Planning/planutils/blob/main/planutils/packages/smtplan/run

[2022-09-30 14:01] neighthan commented on #98
If I run

[code]

then I get

[code]

Just running `smtplan` shows its help string which indicates that the options need to be passed after the domain and problem paths: `Usage: ./SMTPlan domain problem [options]`.

[2022-09-30 14:10] neighthan commented on #98
Ah, `smtplan` wasn't actually running the planutils one. I forgot I have a script already on my path with that name. Trying to run it (with it's own docker environment) from within planutils just failed somehow, which isn't an issue. I renamed it for now, but I'm not sure how to install / run smtplan inside of planutils then. From the readme, I thought it would auto download a planner when I try t

[2022-09-30 18:09] haz commented on #98
So once it's installed, you can do `planutils activate`. You can fetch the pre-built image with `docker pull aiplanning/planutils` and that is a docker image with it already installed. And so for you, it would be...

[code]

[2022-09-30 18:40] neighthan commented on #98
Ah, sorry I'm dense. I had somehow thought that I could *either* run the container *or* activate the environment (without running the container) if I wanted to use a planner on files outside the container. Everything is working now! Thanks for the prompt help, Christian.

One last question - what *is* the best way to quickly use a planner from the CLI? The method I was using before (with my own in

[2022-10-05 03:08] haz commented on #98
Interesting question! I always just run from within docker (virtually mounting whatever code I'm working on and needs to use the solvers/tools). You can run it as a server (`planutils server`) and then a local version of planutils could point to it for `planutils remote ...` calls, but you'd only get access to some of the solvers.

I think your solution is pretty slick. Only thing you might try on

[2022-10-05 03:08] #98 closed

[2022-10-05 03:09] haz commented on #96
@jan-dolejsi Did the above work for you? Ok to close this issue?

[2022-10-11 07:05] ctpelok77 commented on #86
Can we then decide on a centralized repository to allow people to use for
that purpose? Obviously, not forcing anyone :)

On Wed, Jun 22, 2022 at 9:53 AM Florian Pommerening <
***@***.***> wrote:

--
Cheers,
  Michael

[2022-10-11 07:48] FlorianPommerening commented on #86
Didn't we decide against a repository of sif files? I thought the plan was to build sif files directly from dockerhub (or wherever the planner authors decide to host their docker images). Or did you mean that we should decide on a centralized repository for the Docker images? I don't think this fits this model either: we discussed that for now we don't want to have the Dockerfiles under our contro

[2022-10-12 01:58] haz commented on #87
This appears to be due to apptainer only mounting `/tmp` and `/home` directories.

[2022-10-12 01:58] #87 closed

[2022-10-12 02:13] haz commented on #86
Yep, I think it's kinda gone to the level of "up to the planutils package maintainer to host it some place".

That said, we could probably offer something under `ai-planning` as an org if folks want to host there. @FlorianPommerening : what's the process of getting an apptainer library up and going? Anything naturally tie-in with GitHub orgs?

[2022-10-12 07:05] FlorianPommerening commented on #86
I've never done that. We just host the compiled image files by uploading them to our wiki.

[2022-10-12 13:07] haz commented on #86
Eh?

https://github.com/AI-Planning/planutils/blob/main/planutils/packages/downward/install

[2022-10-12 13:39] FlorianPommerening commented on #86
That is singularity hub but that no longer accepts new submissions. The current alternative to this would be to compile the code for singularity hub yourself and host the whole system and that is the part that I meant with "I've never done that".

We probably should change the installation at some point because the line you quoted will get the 20.06 release. To get the 22.06 release, you'd do
[cod

[2022-10-12 15:33] haz commented on #86
Was getting some serious deja vu, and then decided to scroll up and read the conversation from the summer on this issue. I think we're already well on our way to a solution fully discussed :P.

@FlorianPommerening : I think the downward package (and likely others) just need a redirect to the dockerhub (or similar) version, now that apptainer handles it fine.

[2022-10-12 21:56] FlorianPommerening commented on #86
Yes, that would also work.Using `wget` should be quicker in general because it doesn't have to convert from docker to singularity. But the difference is small so if going through Docker makes things more uniform that works as well.

[2022-10-14 03:35] haz opened #100 "Move away from shub"
As per the discussion [here](https://github.com/AI-Planning/planutils/issues/86#issuecomment-1276776264), apptainer images (formally singularity) should pull via either wget or dockerhub.

[2022-10-14 04:06] haz opened #101 "Warn about unmounted files"
When calling an apptainer image, only files in the `/tmp` and `/home` directory are mounted and usable by default. If there are files outside of these two directories that are listed as parameters, then a warning should be displayed (including info on how to specify new folders for apptainer to mount).

[2022-10-18 03:05] haz opened #102 "Include PRP and POPRP"
Relevant repo: https://github.com/QuMuLab/planner-for-relevant-policies

[2022-10-18 03:52] #102 closed

[2022-10-18 22:53] jan-dolejsi commented on #96
Yes. It works. I finally made time to setup my computer for planutils - plainly using Python, not Docker.

`pip install planutils`

`planutils activate`

when trying to run `lama domain.pddl problem.pddl` planutils offers to download lama, as it should, but failed to find `singularity`. I installed singularity using `sudo apt install singularity` as ubuntu suggested. But that was a grave mistake.

[2022-10-19 00:29] haz commented on #96
Wonderful! And since it's been opened, everything's changed ;). Well not everything...

Singularity is no more, replaced by [Apptainer](https://apptainer.org/), and it's far more trivial to install. So the prevailing wisdom of having Docker be the go-to for planutils will very soon become less relevant. Native installation will be "the way" for most.

As for your question on interfacing, I'd proba

[2022-10-19 09:26] jan-dolejsi commented on #96
Ah, no note about that on the Singularity github page, but it explains why some of the hyperlinks to guides/documentation are broken. I will therefore wait for `planutils` to migrate to Apptainer. This is now safely closed.

[2022-10-19 09:26] #96 closed

[2022-11-03 15:13] nilsjor commented on #92
I disagree, what you describe is not continuous integration, but some kind of "release-time integration". Any changes pushed to main should be tested in the container as part of the build automation.

I have submitted a pull request for changing the Dockerfile to build locally. This is the default behaviour I and anyone else cloning this repo would expect.